<!DOCTYPE html>
		<html lang="{{ site.locale }}">
			<head>
				<meta charset="{{ site.charset }}">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<meta name="description" content="{{ site.description }}">
				<title>{{ site.name }}</title>
				{{ wp_head() }}
			</head>
			<body
				{{ body_class() }}>

				{# content #}
				{% block content %}{% endblock %}
				{# end content #}

				{{ wp_footer() }}
			</body>
		</html>